.a{
    
    background-color: rgb(111, 47, 171);
    height: 150px;
    width: 300px;
}
h3{
    padding-left: 10px;
    padding-top: 10px;
}
p{
    padding-left: 10px;
}
.b{
    background-color: rgb(111, 47, 171);
    height: 150px;
    width: 300px;
    
}
.c{
    background-color: rgb(111, 47, 171);
    height: 150px;
    width: 300px;
}

 
    

